body{
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
}

a {
    color: Black;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto Mono', serif;
}

a:hover{
    font-family: 'Roboto Slab', serif;
}

#header-img{
    max-width: 50px;
    max-height: 50px;
    margin: 5px 0;
    float: left;
}

#container{
    margin-top: 50px;
  }
  

#plogo{
    font-size: 40px;
    margin-top: 0;
    margin-left: 50px;
    padding-bottom: 10px;
    z-index:1;
    font-family: 'Roboto Mono', monospace;
}

#header{
    position: fixed;
    top: 0;
    min-height: 50px;
    max-height: 50px;
    min-width: 800px;
    padding: 0;
    display: flex;
    align-items: left;
    background-color: white;    
}

#Subscribe{
    font-family: 'Roboto', sans-serif;
}

#about{
    font-family: 'Roboto', sans-serif;
}

#equipment{
    font-family: 'Roboto', sans-serif;
}

#price{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

input{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#email{
    margin: 0px;
    width: 200px;
    height: 20px;
}

.button{
    width: 100px;
    height: 25px;
    background-color: black;
    color: white;
}

.button:hover{
    background-color: white;
    color: black;
}

h2{
    padding-top: 50px;
    text-align: center;
}

#header-img{
    background-color: white;
}

#form{
    padding-top: 0px;
    padding-bottom: 10px;
    width: 800px;
    margin: 0 250px;
}

#ulnav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 10px;
    text-decoration: none;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    min-width: 160px;
  }


#nav-bar{
    position: fixed;
    padding: 0;
    width: 800px;
    text-decoration: none;
    z-index: 0;
}


img{
    max-width: 200px;
    max-height: 400px;
}

#equipment{
    padding-top: 0px;
    padding-bottom: 20px;
    align-items: stretch;
    border: black;
    border-style: solid;
    border-width: 5px;
}

#about p{
    padding-right: 10px;
    padding-left: 10px;
}

#equipment p{
    padding-right: 10px;
    padding-left: 10px;
}

h3{
    padding-left: 10px;
}

#about{
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: stretch;
    border: black;
    border-style: solid;
    border-width: 5px;
}

#price{
    display: flex;
    justify-content: space-evenly;
    padding-top: 0px;
    padding-bottom: 20px;
    align-items: stretch;
    border: black;
    border-style: solid;
    border-width: 5px;
}

#graphicscard{
    max-width: 200px;
    max-height: 450px;
    align-items: stretch;
}

#RAM{
    max-width: 200px;
    max-height: 450px;
    align-items: stretch;
}

#Harddrive{
    max-width: 200px;
    max-height: 450px;
    align-items: stretch;
}

#video{
    max-width: 800px;
    margin-left: 115px;
}

@media screen and (max-width: 600px) {
    body{
        max-width: 100%;
    }

    header {
      position: fixed;
      width: 100%;
    }
    #nav-bar{
        width: 100%;
    }
    #price{
        width: 100%;
        justify-content: space-between;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        align-items: stretch;
    }
    
    #graphicscard{
        width: 100%;
        height: 100%;
        align-items: stretch;
    }   
        
    #price img{
            width: 80%;
            height: 80%;
        }
   
    
    #RAM{
        width: 100%;
        height: 100%;
        align-items: stretch;
    }
    
    #Harddrive{
        width: 100%;
        height: 100%;
        align-items: stretch;
    }
  }